.buyer_search{
    margin: 20px;
    text-align: center;
}
.keyword_search{
    margin-left: 20px;
    width: 300px !important;
}
.high_range_search{
    margin-left: 20px;
    width: 150px !important;
}
.low_range_search{
    margin-left: 20px;
    width: 150px !important;
}
.select_vehical{
    width: 200px !important;
}
.bootstrap-select.select_vehical.form-control{
    float: left;
}
.search_submit{
    margin-left: 20px;
}
.search_results_table{
    text-align: center;
}
.list_display_thumbnail{
height: 100px;
}
.clickable-row{
    cursor: pointer;
}
.search_results_table th{
    text-align: center;
}